# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM
.fvmrc
.fvm/
# もし「.fvmフォルダは残して中身だけ無視」したい場合は上の .fvm/ を消して、代わりに下を使う
# .fvm/flutter_sdk/
# .fvm/versions/
# .fvm/fvm_config.json
# .fvm/release
# .fvm/version

# VSCode settings
.vscode/settings.json

# iOS
ios/Podfile.lock
ios/Runner.xcodeproj/project.pbxproj
ios/Pods/
ios/Frameworks/
ios/DerivedData/

#Xcodeのキャッシュや自動生成ファイルをさらに除外
ios/PROJECT@*
ios/TARGET@*
ios/.generated/
/ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
