rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isChangingRole() {
      return request.resource.data.diff(resource.data).affectedKeys().hasAny(['role']);
    }

    match /users/{uid} {
      allow get:  if request.auth != null && (request.auth.uid == uid || isAdmin());
      allow list: if isAdmin();

      allow create, delete: if request.auth != null && (request.auth.uid == uid || isAdmin());

      allow update: if request.auth != null
                    && (request.auth.uid == uid || isAdmin())
                    && (!isChangingRole() || isAdmin());

      match /cards/{cardId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }

    match /admin_access_logs/{logId} {
      allow read, write: if isAdmin();
    }
  }
}
